.sidebar {
  position: fixed;
  flex-shrink: 0;
  width: 270px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsla(0, 0%, 75%, 0.795);
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 89%);
  border-radius: 100px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: hsl(35, 54%, 64%);
  border-radius: 100px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(35, 33%, 47%);
}

